.addMedContainer{
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 2rem;
}

.addMed {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#addCard{
	
	margin: 0 auto;
}

#productGrid{
  margin: auto;
}

#reminderTimes{
	margin-top: 2rem;
}

#cardActions{
	max-width:345px;
	display: flex;
	justify-content: flex-end;

	margin-top: 20px;
}

#selectDossage{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.showTime{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
}

#timePicker{
	max-width: 14%;
}

#dossagePickerContainer{
	display: flex;
	
}

#dossagePicker{
	width: 23%;
}
@media (max-width: 768px) {

.addMedContainer{
 width: 95%;
  margin-top: 2rem;
}
}