@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

@font-face {
  font-family: 'Agustina Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Agustina Regular'), url('./assests/fonts/Agustina.woff') format('woff');
}
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url('./assests/fonts/Montserrat-Regular.ttf') format('woff');
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


*, *::before, *::after {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth !important;
  background-color: rgb(255,255,255) !important;
  letter-spacing: normal !important; 
  color: rgb(33,37,31) !important;
}
body {
  margin: 0 !important;
  font: 23px Montserrat, "Montserrat", sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}
/* Media Query */
@media (max-width: 1380px) {
  html,
  body {
    font-size: 16px !important;
    line-height: normal !important;
  }
}



a {
  text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
  }

a:focus {
      text-decoration: none;
}

a:hover {
     text-decoration: none;
}

a:active {
     text-decoration: none;
}